<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Клиенты</title>
    <link th:href="@{/styles/admin.css}" rel="stylesheet" />
</head>
<body style="background-color: rgb(255 236 217)">
<div class="settings">
    <div class="icon_1">
        <form method="GET" th:action="@{/admin/}">
            <button width="50px"><img th:src="@{/images/back.png}" width="50px"></button>
        </form>
        Главная
    </div>
    <div class="icon_2">
        <form method="GET" th:action="@{/admin/clients}">
            <button width="50px"><img th:src="@{/images/client.png}" width="50px"></button>
        </form>
        Клиенты
    </div>
    <div class="icon_3">
        <form method="GET" th:action="@{/admin/employees}">
            <button width="50px"><img th:src="@{/images/employee.png}" width="50px"></button>
        </form>
        Работники
    </div>
    <div class="icon_4">
        <form method="GET" th:action="@{/admin/orders}">
            <button width="50px"><img th:src="@{/images/order.png}" width="50px"></button>
        </form>
        Заказы
    </div>
    <div class="icon_-2">
        <form method="GET" th:action="@{/admin/my-profile}">
            <button width="50px"><img th:src="@{/images/profile.png}" width="50px"></button>
        </form>
        Профиль
    </div>
    <div class="icon_-1">
        <form method="POST" th:action="@{/logout}">
            <button width="50px"><img th:src="@{/images/exit.png}" width="50px"></button>
        </form>
        Выйти
    </div>
</div>
<div class="main_frame">
    <div class="t1">Страница админа</div>
    <div class="t2">Список клиентов</div>
    <div class="table_container">
        <table class="table">
            <tr>
                <th>Логин</th>
                <th>Имя</th>
                <th>Возраст</th>
                <th>Почта</th>
                <th>Число сделанных заказов</th>
                <th>Id последнего заказа</th>
            </tr>
            <tr th:each="client :${clients}">
                <td th:text="${client.login}"></td>
                <td th:text="${client.name}"></td>
                <td th:text="${client.age}"></td>
                <td th:text="${client.email}"></td>
                <td th:text="${client.ordersCnt}"></td>
                <td th:text="${client.idLastOrder}"></td>
            </tr>
        </table>
    </div>
    <div class="controls">
        <form method="POST" th:object="${filterC}" class="control">
            <input class="form_field" th:field="*{str}" placeholder="Имя или логин"/>
            <button id="find_btn" class="form_button">Найти</button>
        </form>
    </div>
</div>
</body>
</html>