<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование книги</title>
    <link th:href="@{/styles/admin.css}" rel="stylesheet" />
</head>
<body style="background-color: rgb(255 236 217)">
<div class="settings">
    <div class="icon_1">
        <form method="GET" th:action="@{/book/{id}}">
            <button width="50px"><img th:src="@{/images/back.png}" width="50px"></button>
        </form>
        К книге
    </div>
    <div class="icon_2">
        <form method="GET" th:action="@{/employee/add-book}">
            <button width="50px"><img th:src="@{/images/book.png}" width="50px"></button>
        </form>
        Новая</br>
        книга
    </div>
    <div class="icon_-2">
        <form method="GET" th:action="@{/employee/my-profile}">
            <button width="50px"><img th:src="@{/images/profile.png}" width="50px"></button>
        </form>
        Профиль
    </div>
    <div class="icon_-1">
        <form method="POST" th:action="@{/logout}">
            <button width="50px"><img th:src="@{/images/exit.png}" width="50px"></button>
        </form>
        Выйти
    </div>
</div>
<div class="main_frame">
    <div class="t2">Форма редактирования книги</div>
    <div class="controls">
        <form method="POST" th:object="${bookById}" class="clm_control">
            <div class="t2">Обязательная часть</div>
            <div class="r1">Название книги: </div>
            <input class="form_field" type="text" th:field="*{title}" placeholder="Название" required/>
            <div class="r1">Цена книги: </div>
            <input class="form_field" type="number" th:field="*{cost}" required/>
            <div class="r1">Количество книг на складе: </div>
            <input class="form_field" type="number" th:field="*{count}" required/>
            <div class="r1">Автор книги: </div>
            <input class="form_field" type="text" th:field="*{author}" placeholder="Автор" required/>
            <div class="r1">Год издания книги: </div>
            <input class="form_field" type="number" th:field="*{year_}" required/>
            <div class="r1">Язык книги: </div>
            <div th:each="language: ${languages}">
                <input type="radio" name="language" th:field="*{language}" th:value="${language}" required/>
                <span th:text="${language.toString}"></span>
            </div>
            <div class="r1">Жанр книги: </div>
            <div th:each="genre: ${genres}">
                <input type="radio" name="genre" th:field="*{genre}" th:value="${genre}" required/>
                <span th:text="${genre.toString}"></span>
            </div>
            <div class="t2">Необязательная часть</div>
            <div class="r1">URL картинки книги: </div>
            <input class="form_field" type="url" th:field="*{urlPicture}" placeholder="В случае пустого поля картинка общая"/>
            <div class="r1">Описание книги: </div>
            <input class="form_field" type="text" th:field="*{description}" placeholder="Описание"/>
            <div class="r1">ISBN книги: </div>
            <input class="form_field" type="text" th:field="*{isbn}" placeholder="Формат ISBN: xxx-x-xxxxx-xxx-x"/>
            <div class="r1">Количество страниц: </div>
            <input class="form_field" type="number" th:field="*{pageCnt}"/>
            <div class="r1">Рейтинг книги: </div>
            <input class="form_field" type="number" th:field="*{rate}"/>
            <div class="r1">Новизна книги: </div>
            <input type="radio" name="recency" th:field="*{recency}" value="true"/>
            <span>Новая</span>
            <input type="radio" name="recency" th:field="*{recency}" value="false" required/>
            <span>Не новая</span>
            <button>Сохранить изменения</button>
        </form>
    </div>
</div>
</body>
</html>